.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1A1B1E;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ffffff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dropdownMenus {
    display: none;
    box-shadow: 0 0 10px 1px;
    left: -20px;
}

.dropdownContainer:hover .dropdownMenus {
    display: block;
}

.hamburgerBtn,
.closeBtn {
    display: none;
    font-size: 4rem;
}

@media (max-width: 767px) {

    .hamburgerBtn,
    .closeBtn {
        display: inline-flex;
        font-size: 4rem;
    }

    .navMenu {
        position: fixed;
        width: 80%;
        height: 100%;
        top: 0;
        box-shadow: 0 0 10px 1px;
        z-index: 100;
        transition: 0.3s;
        background-color: var(--whiteLM);
        padding: 8rem 0 0 7rem;
        border-radius: 1rem 0 0 1rem;
    }

    .dropdownMenus {
        display: none;
        box-shadow: 0 0 10px 1px;
        left: 0;
        width: 30rem;
    }

    .closeBtn {
        position: absolute;
        top: 3rem;
        right: 1.25rem;
        cursor: pointer;
    }

    .navList {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }

    .navList a {
        font-size: 2rem;
    }

    .dropdownContainer button {
        font-size: 2rem;
    }
}