@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}

:root {
  --blackLM: #232323;
  --redLM: #F9322C;
  --whiteLM: #FFFFFF;
  --blackDM: #171923;
  --redDM: #FF2D20;
  --whiteDM: #E7E8F2;

  --body-font: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background: #1A202C;
}

::-webkit-scrollbar-thumb {
  background: var(--whiteDM);
  border-radius: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.redLM {
  color: var(--redLM);
}

.blackLM {
  color: var(--blackLM);
}

.whiteLM {
  color: var(--whiteLM);
}

.redDM {
  color: var(--redDM);
}

.blackDM {
  color: var(--blackDM);
}

.whiteDM {
  color: var(--whiteDM);
}

.bgBlackDM {
  background-color: var(--blackDM);
}

.bgWhiteLM {
  background-color: var(--whiteLM);
}

.bg-1A202C {
  background-color: #1A202C;
}

.bg-redLM {
  background-color: var(--redLM);
}

.card {
  border: var(--redLM) 1px solid;
}

.bg-radial-gradient {
  background-image: radial-gradient(50% 50% at 50% 50%, #EB4432 0%, rgba(255, 255, 255, 0) 100%);
}

.transform {
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transition-transform {
  transition-duration: .15s;
}


@media (max-width: 1200px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 818px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media(max-width: 404px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 40%;
  }
}